body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  text-align: center;
  display: flex;
}
h1 {
  font-size: 25px;
}

.outer {
  display: flex;
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 20px;
  align-items: center;
  max-width: 300px;
  padding: 15px;
  background-color: hsl(0, 0%, 100%);
}

.qrcode {
  margin: 10px auto;
  max-width: 100%;
  border-radius: 20px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution.a {
  color: hsl(228, 45%, 44%);
}
